.btn-modern {
    color: white;
    background-image: linear-gradient(to left, rgb(165, 76, 76), rgba(0, 0, 255, 0.2));
    padding: 15px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    transition: .4s linear;
}

.btn-modern:hover {
    color: gold;
    background-image: linear-gradient(to right, green, blue);
    transform: translateY(-5px);
    box-shadow: 2px 2px 10px #000;
}